<h1>Welcome to Bookers</h1>
<p>In <b>Bookers</b>,<br>

you can share and exchange your opinions , inpressions , and emotions<br>

about various books!</p>
  <div class="actions">
    <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-block btn-base-1 mt-20" %>
 </div>
  <div class="actions">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-block btn-base-1 mt-20" %>
  </div>